.toolbar{
    top:0;
    left:0;
    right:0;
    min-height: 48px;
    background:#3c86f8;
    color:white;
    border-bottom:5px solid #3467d4;
    padding: 0 5%;
}

.toolbarText{
    float:left;
    margin:10px;

}