.input{
    display: block;
    margin: 10px auto;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding:15px;
}

.input:focus{
    outline: 0;
}

.form{
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 5%;
    background: white;
    border-radius: 5px;
    color:white
}

.button{
    width: 200px;
    margin: 30px auto;
    border-radius: 5px;
    border: 2px solid #3467d4;
    padding:10px;
 background: #3c86f8;
 cursor: pointer;
 
}